/* .text-gradient {
  background: -webkit-linear-gradient(#d63384, #9b27af);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-pink {
  color: #e91e63;
}

.btn-pink {
  background-color: #e91e63;
  color: white;
  font-weight: 500;
  border: none;
  transition: background-color 0.3s ease;
}

.btn-pink:hover {
  background-color: #d81b60;
} */